@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: #1f1f21;
    --text-color: #fff;
  
    --big-font: 25px;
    --p-font:17px;
  }

@layer{
    base-font{
        font-size: 30px;
}
}
